{% extends 'base.html'%}

{% block content %}



{% if user.is_authenticated %}


<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="{% url 'add_candidate' %}" class="btn btn-outline-primary" type="button">Add Candidates</a>
</div>

<br>

<table class="table table-striped table-hover table-bordered table-sm">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    

      {% if candidates %}
        {% for Candidate in candidates %}  <!-- this 'Record' is the one in models.py-->
          <tr>
            <td>{{ Candidate.id }} </a></td>
            <td>{{ Candidate.first_name }}  {{ Candidate.last_name }} </td>
            <td><a href="{% url 'candidate' Candidate.id %}" type="button" class="btn btn-outline-info"> Edit </a> 
              <a href="{% url 'score_candidate' Candidate.id %}" type="button" class="btn btn-outline-info"> Judge </a> 
            </td>
           
          </tr>
        {% endfor %}

      {% endif %}
    
  </tbody>
</table>



{% else %}
</br>
<div>
  <div class="col-md-6 offset-md-3">
<h1>Login</h1>

</br> </br> 

<form method="POST" action="{% url 'home' %}"> 
    {% csrf_token %}
    
        <div class="mb-3">
          
          <input type="text" class="form-control" name="username", placeholder="Username" required>
          
        </div>
        <div class="mb-3">
          
          <input type="password" class="form-control" name="password", placeholder="Password" required>

        </div>
        
        <button type="submit" class="btn btn-secondary">Login</button>
      

</form>

</div>


{% endif %}



{% endblock %}