{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="col-md-6 offset-md-3">
<div class="card">
    <div class="card-header">
        {{ current_record.id }}  
        <strong> {{ current_record.first_name }}  
        {{ current_record.last_name }} </strong>
    </div>
    <div class="card-body">
        <img src="{{ current_record.image.url }}" class="img-fluid rounded mx-auto d-block" style="max-width: 150px;" alt="Profile Picture">
    </div>
</div>

<div>
    <br>


{% if not score_exists %}


    <h1> Judge Candidate </h1>
    <h6 style="color:gray"> Input Scores of 1 (lowest) to 10 (highest). </h6>
<br><br>


<form method="POST"> 
    {% csrf_token %}
    {{ form.as_p }}

    <br/>
    <button type="submit" class="btn btn-success">Judge</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
</form>

{% else %}
        <p>You have already judged this candidate.</p>
    {% endif %}
</div>



{% endblock %}