<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
            
            <!-- If statements for active tabs eyy-->


            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tabulation_production_number' %}">Production Number</a>

            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tabulation_swimsuit' %}">Swimsuit</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tabulation_evening_gown' %}">Evening Gown</a>

            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tabulation_q_and_a' %}">Final Q&A</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tabulation' %}">Ranking</a>
            </li>
            
        </ul>
        
        
      </div>
    </div>
  </nav>