{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
            
            <!-- If statements for active tabs eyy-->


            
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'tabulation_production_number' %}">Production Number</a>

            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tabulation_swimsuit' %}">Swimsuit</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tabulation_evening_gown' %}">Evening Gown</a>

            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tabulation_q_and_a' %}">Final Q&A</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tabulation' %}">Ranking</a>
            </li>
            
        </ul>
        
        
      </div>
    </div>
  </nav>



<table class="table table-dark table-hover table-bordered table-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Poise & Bearing 30%</th>
        <th scope="col">Elegance 30%</th>
        <th scope="col">Beauty 30%</th>
        <th scope="col">Audience Impact 10%</th>
        <th scope="col">Total</th>
        <th scope="col">Ranking</th>
      </tr>
    </thead>

    <tbody>
    

        {% if scoreeverythings %}
          {% for ScoreEverything in scoreeverythings %}  <!-- this 'Record' is the one in models.py-->
            <tr>
              <td>{{ ScoreEverything.candidate_id }} {{ ScoreEverything.candidate }} </a></td>
              <td>{{ ScoreEverything.pn_performance }}   </td>
              <td>{{ ScoreEverything.pn_elegance }}   </td>
              <td>{{ ScoreEverything.pn_beauty }}   </td>
              <td>{{ ScoreEverything.pn_audience }}   </td>
              <td>{{ ScoreEverything.pn_total }}   </td>
              <td> 0  </td>
              
             
            </tr>
          {% endfor %}
  
        {% endif %}
      
    </tbody>



{% endblock %}