{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
          
          <!-- If statements for active tabs eyy-->


          
          <li class="nav-item">
              <a class="nav-link" href="{% url 'tabulation_production_number' %}">Production Number</a>

          </li>
          
          <li class="nav-item">
              <a class="nav-link" href="{% url 'tabulation_swimsuit' %}">Swimsuit</a>
          </li>
          
          <li class="nav-item">
              <a class="nav-link" href="{% url 'tabulation_evening_gown' %}">Evening Gown</a>

          </li>
          
          <li class="nav-item">
              <a class="nav-link" href="{% url 'tabulation_q_and_a' %}">Final Q&A</a>
          </li>
          
          <li class="nav-item">
              <a class="nav-link" href="{% url 'tabulation' %}">Total Scores</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="{% url 'tabulation' %}">Calculate</a>
          </li>
          
      </ul>
      
      
    </div>
  </div>
</nav>

<br>

{% if judge_done %}

<table class="table table-striped table-hover table-bordered table-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col">Ranking</th>
        <th scope="col">ID</th>
        <th scope="col">Production Number</th>
        <th scope="col">Swimsuit</th>
        <th scope="col">Evening Gown</th>
        <th scope="col">Q & A</th>
        <th scope="col">Total</th>

      </tr>
    </thead>


    <tbody>
    

      {% if scorecard %}
        {% for ScoreCard in scorecard %}  <!-- this 'Record' is the one in models.py-->
          <tr>
            <td>{{ ScoreCard.ranking }}</td>
            <td>{{ ScoreCard.candidate_id }} {{ ScoreCard.candidate }} </a></td>
            <td>{{ ScoreCard.pn_all_total }}   </td>
            <td>{{ ScoreCard.sw_all_total }}   </td>
            <td>{{ ScoreCard.eg_all_total }}   </td>
            <td>{{ ScoreCard.fq_all_total }}   </td>
            <td>{{ ScoreCard.t_all_avg }}   </td>
 
          </tr>
        {% endfor %}

      {% endif %}

    </tbody>
    {% if not is_superuser %}
    <a href="{% url 'calculate_scorecard' %}" class="btn btn-primary btn-sm disabled" tabindex="-1" role="button" aria-disabled="true">Calculate</a>
    <h6><span style='color:gray'>You're not the admin</span></h6>
    {% else %}
    <a href="{% url 'calculate_scorecard' %}" class="btn btn-primary btn-sm" >Calculate</a>
    {% endif %}


{% else %}
  <h1>Candidate Scores Pending . . .</h1>

  {% if not is_superuser %}
  <h5><span style='color:gray'>(also you're not admin)</span></h5>
  {% else %}
  <h5><span style='color:gray'>(hi admin :D)</span></h5>
  {% endif %}

{% endif %}
{% endblock %}